## no archives
*.jar
*.zip
*.gz
## no deploy folder
Deploy/
## no derived resources
*.class
bin/
target/
.recommenders/
aggregators/
screenshots/

## jrebel project config files
rebel.xml

## No Eclipse settings (except Xtend)
.settings/
.metadata
!.settings/org.eclipse.xtend.core.Xtend.prefs

## No Checkstyle plugin settings
.checkstyle

## various other file types we don't want to have in the repository:
.DS_Store
*~
*#
*.licensed
*.aux
*_trace
/Doc/InsideHelp/Help/nbproject/private/
/ro.stefanprisca.physics.experiments.simulator.rcp/html/nbproject/private/