.content-group {
		font-size : 150%;
		font-family:"Georgia";
		}
.sample-code {
		font-size : 150%;
		font-family:"Courier New";
		font-style:oblique;
		border:2px solid;
		border-radius:25px;
		margin-left:auto;
		margin-right:auto;
		width:70%;
		background-color:#b0e0e6;
		}
.content-link{
		font-style:"Italic";
		
		} 
